* {
  background-color: #66545e;
  color: #f6e0b5;
}

#Main {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-row: 1fr 6fr;
}

#MainForm {
  display: flex;
  grid-area: 2 / 2 / 3 / 3;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
